<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <title>NResto Web</title>
</head>
<body>
    <a href="#mainContent" class="skipLink">skip konten</a>
    <header>
        <!-- Navigation Mobile Version -->
        <div class="brandMenu">
            <div class="brandMobile">NResto</div>
            <div class="menuToggle" id="menuToggle"><button>☰</button></div>
        </div>
        <nav class="navMobile" id="navMobile">
            <ul class="navListMobile">
                <li class="navItemMobile"><a href="/">home</a></li>
                <li class="navItemMobile"><a href="#">favorite</a></li>
                <li class="navItemMobile"><a href="https://www.linkedin.com/in/nurfadhilah/86611b174">about us</a></li>
            </ul>
        </nav>

        <!-- Navigation Desktop Version -->
        <nav class="navbar">
            <a href="" class="brand">NResto</a>
            <ul class="navList">
                <li class="navItem"><a href="/">home</a></li>
                <li class="navItem"><a href="#">favorite</a></li>
                <li class="navItem"><a href="https://www.linkedin.com/in/nurfadhilah/86611b174">about us</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 6, 0.6), rgba(0, 0, 6, 0.6)), url('images/heros/hero-image_4.jpg');">
        <div class="heroInner">
            <h1 class="heroTitle">NResto</h1>
            <p class="heroSubtitle">temukan restauran favorit kamu dengan mudah.</p>
        </div>
    </div>

    <main id="mainContent">
        <!-- <section class="content">
            <div class="latest">
                <h1 class="latestLabel">restaurant katalogs</h1>
                <div class="katalogList" id="katalogList">
        
                </div>
            </div>
        </section> -->
    </main>

    <footer>
        <p>&copy 2021 NResto</p>
    </footer>
</body>
</html>