@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Cardo', serif;
    font-size: 13px;
}


/* Navigation mobile version */
.brandMenu {
    background-color: #334257;
    color: #eeeeee;
    width: 100%;
    padding: 11px;
    display: flex;
    font-weight: 500;
    font-size: 22px;
    justify-content: space-between;
}

.brandMenu .menuToggle button {
    border: none;
	background: none;
    font-size: 28px;
    color: #eeeeee;
    min-height: 44px;
    min-width: 44px;
}

.brandMenu .brandMobile {
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
} 

.navMobile {
    background-color: #334257;
    width: 100%;
    display: flex;
    font-weight: 550;
    font-size: 15px;
    text-transform: uppercase;;
}

.navListMobile {
    width: 100%;
	padding: 0;
	margin: 0;
	text-align: right;
}

.navItemMobile {
    box-sizing: border-box;
	display: inline-block;
	text-align: right;
	line-height: 24px;
	text-transform: uppercase;
}

.navMobile a {
    color: #eeeeee;
    text-decoration: none;
    padding: 1.5em;
    display: inline-block;
}

/* Navigation Desktop Version */
.navbar {
    background-color: #334257;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 550;
    font-size: 13px;
}

.navbar a {
    color: #eeeeee;
    padding: 1.3em;
    text-decoration: none;
    display: inline-block;
}

.brand {
    width: 20%;
    padding: 0;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    line-height: 24px;
    font-size: 22px;
    font-family: 'Pacifico', cursive;
}

.navList {
    width: 80%;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navItem {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
}

.navbar .navList .navItem a:hover {
    font-weight: bold;
    text-shadow: 2px 2px 10px #548CA8;
}

/* Hero / Jumbotron */
.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-position: center;
    background-color: blueviolet;
}

.heroInner {
    margin: 0 auto;
    max-width: 800px;
}

.heroTitle {
    color: #eeeeee;
    font-weight: 600;
    font-size: 36px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px black;
}

.heroSubtitle {
    color: #eeeeee;
    margin-top: 14px;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    font-style: oblique;
	text-shadow: 1px 1px #141414;
}


.skipLink {
    position: absolute;
    top: -60px;
    left: 0;
    background-color: #ecb80c;
    color: black;
    padding: 8px;
    z-index: 100;
    text-decoration: none;
    font-size: 20px;
}

.skipLink:focus {
    top: 0;
}

